
.pros-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    background-color: #f2e1d9;
    padding: 50px;
  }
  .pros-container .pros {
    display: flex;
    flex-direction: column;
  }
  .pros .icon {
    font-size: 3rem;
  }
  .pros .title {
    font-size: 1.2rem;
  }
  .pros .context {
    color: #7f85a8;
  }
  
  @media (max-width: 700px) {
    .pros-container {
      display: grid;
      gap: 20px;
      padding: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
    .pros .title {
      font-size: 0.9rem;
    }
    .pros .context {
      font-size: 0.9rem;
    }
  }